.orderbook {
    font-family: 'Roboto', sans-serif;
    position: relative;
    background-color: #111827;
    color: #b1b4ba;
}

.orderbook h1 {
    font-size: 1em;
    padding-left: 16px;
}

.orderbook .dom {
    border-top: solid 1px #242d3c;
    position: relative;
    width: 800px;
    background-color: #111827;
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 8px;
}