.row {
    position: relative;
    font-family: 'Iceland', cursive;
    font-size: 1em;
    display: grid;
    grid-auto-columns: 1fr;
    grid-auto-flow: column;
    text-align: right;
    padding: 0 16px;
}

.highest {
    position: absolute;
    top: 0;
    right: 0;
    height: 100%;
}

.green {
    background-color: rgba(0, 255, 0, 0.1);
}

.red {
    background-color: rgba(255, 0, 0, 0.1);
}

.inverted .highest {
    left: 0;
    right: auto;
}

.row .price {
    color: green;
}